[submodule "view/zh-cn/doc"]
  path = view/zh-cn/doc
  url = https://github.com/thinkjs/cn.thinkjs.org.git
[submodule "view/en/doc"]
  path = view/en/doc
  url = https://github.com/thinkjs/en.thinkjs.org.git
