/* hammersmith-one-normal - latin */
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/hammersmith-one/hammersmith-one-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Hammersmith One'), local('HammersmithOne-Normal'),
       url('//lib.baomitu.com/fonts/hammersmith-one/hammersmith-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/hammersmith-one/hammersmith-one-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/hammersmith-one/hammersmith-one-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/hammersmith-one/hammersmith-one-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/hammersmith-one/hammersmith-one-v7-latin-regular.svg#HammersmithOne') format('svg'); /* Legacy iOS */
}

html, body {
  width: 100%;
  height: 100%;
  background: url('/static/img/new/bg_.jpg') #111 no-repeat 50% 0;
  background-size: cover;
}
.logo {
  margin-top: 23px;
}
a.navbar-brand, a.navbar-brand:hover {
  height: 30px;
  width: 130px;
  /* margin-top: 17px; */
  text-indent: -999em;
  background: url('/static/img/logo.svg');
  background-size: cover;
}

#main {
  padding-top: 50px;
  padding-bottom: 295px;
}

#main .container {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  transform-origin: top;
}

#logo {
  height: 180px;
}
.head {
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Hammersmith One', sans-serif;
}
#main h3 {
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  /* max-width: 350px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  letter-spacing: 1px;
  font-size: 2.6rem;
  line-height: 1.3;
}
.buttons>.button {
	position: relative;
	display: inline-block;
	width: 260px;
	height: 48px;
	line-height: 48px;
	border-radius: 24px;
	background: #008CF9;
	font-size: 24px;
	color: #eee;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}
.buttons>.button:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0.15;
	border-radius: 24px;
	transition: width .55s;
}
.buttons>.button:hover {
	color: #fff;
}
.buttons>.button:hover:after {
	width: 100%;
}
.algolia-autocomplete {
  min-width: 140px;
  text-align: right;
}
#search {
  width: 35px;
  border: none;
  color: #FFF;
  font-size: 14px;
  padding: 0 0 0 15px;
  line-height: 32px;
  background: url('/static/img/search.svg') rgba(255, 255, 255, 0.2) 25px center no-repeat;
  transition: all .5s;
  border-radius: 100px;
}
#search:focus {
  width: 120px;
  outline: none;
  background-position-x: 110px;
}

.footer {
  background-color: #01040b;
}
@media screen and (max-width: 767px) {
 .logo {
   margin: 0 auto;
   padding-top: 20px;
   box-sizing: border-box;
 }
 a.navbar-brand {
   margin: 0 auto;
 }
 form, .github-corner {
   display: none;
 }
 .algolia-autocomplete {
   padding-left: 1rem !important;
 }
 #logo {
   height: 120px;
   margin-bottom: 1rem;
 }
 .head {
   font-size: 3rem;
 }
 #main {
   padding-top: 65px;
   padding-bottom: 131px;
 }
 #main h3 {
   font-size: 1.4rem;
   margin-bottom: 3rem;
 }
 .github-corner {
   min-height: 50px;
 }
 .github-corner svg {
   left: -10px !important;
 }
 .buttons>.button {
  width: 150px;
  font-size: 18px;
 }

}


/** doc page **/
/* .wrap {
  width: auto;
}
*/
.header {
  height: 80px;
  border-bottom: 1px solid #EEE;
}
.logo {
  margin-top: 24px;
}
a.navbar-brand, a.navbar-brand:hover {
  height: 33px;
  width: 115px;
} 
.nav li form, .nav li.lang {
  display: none;
}