{% extends "./layout.html" %}

{% block content %}

<div class="container">

  <div class="content doc-content">
    {#
    <div class="lbox">
      {% for key, s in sidebar %}
      <dl>
        <dt>{{key}}</dt>
        <dd>
          {% for k, name in s %}
          <a href="/{{lang}}/doc/{{version}}/{{name}}.html">{{ name }}</a>
          {% endfor %}
        </dd>
      </dl>
      {% endfor %}
    </div>
    #}

    {% if not keyword %}
    <h2 style="color:#555">Missing keywords</h2>
    {% elif searchResult.length == 0 %}
    <h2 style="color:#555">No Result</h2>
    <a href="javascript:history.back()">back to the previous page</a>
    {% else %}
    <h2>Search Result({{ searchResult.length }})</h2>
    {% for item in searchResult %}
    <h4>
      <a target="_blank" href="/{{lang}}/doc/{{version}}/{{ item.filename.replace('.md', '') }}.html">{{ item.title|safe }}</a>
    </h4>
    {% for textItem in item.text.slice(0, 10) %}
    <p>{{ textItem|safe }}</p>
    {% endfor %}
    {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
