<%include inc/header.html %>

<div class="content doc-content">
  <div class="wrap clearfix">
      <div class="lbox">
        <%for(var key in sidebar){%>
        <dl>
          <dt><%-key%></dt>
            <dd>
              <%for(var name in sidebar[key]){%>
              <a href="/<%-lang%>/doc/<%-version%>/<%-sidebar[key][name]%>.html"><%-name%></a>
              <%}%>
            </dd>
        </dl>
        <%}%>
      </div>
        <div class="rbox">
          <div class="clearfix">

            <div class="search">
              <form method="get" action="/<%-lang%>/doc/<%-version%>/search">
                  <input class="sea-txt" value="" required name="keyword" />
                  <input class="sea-btn" type="submit" value="" />
              </form>
            </div>
            
          </div>
            <div class="doc">
                <%-markedContent%>
            </div>
            <%if(doc !== 'single'){%>
            <div style="margin-top:40px;">
              文档地址：<a href="https://github.com/75team/www.thinkjs.org/tree/master/view/<%-lang%>/doc/<%-version%>/<%-doc%>.md" target="_blank">https://github.com/75team/www.thinkjs.org/tree/master/view/<%-lang%>/doc/<%-version%>/<%-doc%>.md</a>
            </div>
            <%}%>
        </div>
        <div class="r-fixed">
          <a class="pdf" title="<%-_('download-pdf')%>" target="_blank" href="/static/module/thinkjs/thinkjs_<%-lang%>_<%-version%>.pdf"></a>
          <a class="view-single" title="<%-_('view-on-single-page')%>" href="/<%-lang%>/doc/<%-version%>/single.html"></a>
        </div>
    </div>
</div>
<%include inc/footer.html %>