{% extends "./layout.html" %}

{% block content %}

<div class="container">
  <div class="row doc-content">
    <div class="col-md-2 col-sm-12 hidden-xs hidden-sm left-nav" id="directoryList">
      <nav class="hidden-print">
        <ul class="nav bs-docs-sidenav">

          {% for key, value in sidebar %}
          <li class=""><strong>{{key}}</strong>
            <ul class="list-unstyled">
              {% for name, value2 in value %}
              <li><a href="/{{lang}}/doc/{{version}}/{{value2}}.html">{{name}}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="col-md-7 col-sm-12">
      {{markedContent|safe}}

      {% if doc != 'single' %}
      <div class="doc-address">
        <h4>extra links</h4>
        <ul>
          <li>
            <a class="back2top" title="{{ _('back2top') }}" href="#">{{ _('back2top') }}</a>
          </li>
          <li>
            <a href="https://github.com/75team/www.thinkjs.org/tree/master/view/{{lang}}/doc/{{version}}/{{doc}}.md" target="_blank">Documentation Links</a>
          </li>
          <li>
            <a class="pdf" title="{{ _('download-pdf') }}" target="_blank" href="/static/module/thinkjs/thinkjs_{{ lang }}_{{ version }}.pdf">{{ _('download-pdf') }}</a>
          </li>
          <li>
            <a class="view-single" title="{{ _('view-on-single-page') }}" href="/{{ lang }}/doc/{{ version }}/single.html">{{ _('view-on-single-page') }}</a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="col-sm-3 right-nav">
      <div class="version-wrapper">
        {% if hasVersion %}
        <div class="dropdown hidden-sm hidden-xs">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            version {{ version }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for i in ['2.2', '2.1', '2.0', '1.2'] %}
            <li>
              {% if version != i %}
              <a href="/{{ lang }}/doc/{{ i }}/index.html">{{ i }}</a>
              {% else %}
              <a>{{ i }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <nav id="myNav" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
        {{tocContent|safe}}
      </nav>
    </div>
  </div>

  <div class="r-fixed hidden-lg hidden-md">
    <a class="back2top" title="{{ _('back2top') }}" href="#"></a>
    <a class="doc-dir" id="docDirectory" title="{{ _('view-on-single-page') }}"></a>
  </div>
</div>

{% endblock %}

{% block script %}

{{super()}}

<script>
  $(function () {
    var $nav = $('#myNav');
    var $docDirectory = $('#docDirectory');
    var $directoryList = $('#directoryList');

    var isShow = false;
    $docDirectory.click(function () {
      if (isShow)
        $directoryList[0].setAttribute('style', 'display: none !important');
      else {
        $(document).scrollTop(80);
        $directoryList[0].setAttribute('style', 'display: block !important');
      }
      isShow = !isShow;
    });

    $nav.affix({
      offset: {top: 100}
    });
    var scroller = function () {
      var h = $(document).height();
      var t = $(document).scrollTop();
      var height = $(window).height();
      if (h > t + height + 277)
        $nav.css({bottom: 30 + 'px'});
      else
        $nav.css({bottom: 307 + 'px'});
    };
    $(window).scroll(scroller);
    scroller();

  })
</script>

{% endblock %}

