<%include inc/header.html %>

<div class="content doc-content">
  <div class="wrap clearfix">
      <div class="lbox">
        <%for(var key in sidebar){%>
        <dl>
          <dt><%-key%></dt>
            <dd>
              <%for(var name in sidebar[key]){%>
              <a href="/<%-lang%>/doc/<%-version%>/<%-sidebar[key][name]%>.html"><%-name%></a>
              <%}%>
            </dd>
        </dl>
        <%}%>
      </div>
        <div class="rbox">
          <div class="clearfix">

            <div class="doc-link">
              <a target="_blank" href="/static/module/thinkjs/thinkjs_<%-lang%>_<%-version%>.pdf"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download all documents as PDF</a>
              <a href="/<%-lang%>/doc/<%-version%>/single.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View on single page</a>
            </div>

            <div class="search">
              <form method="get" action="/<%-lang%>/doc/<%-version%>/search">
                  <input class="sea-txt" value="" required name="keyword" />
                  <input class="sea-btn" type="submit" value="" />
              </form>
            </div>
            
          </div>
            <div class="doc">
                <%-markedContent%>
            </div>
            <%if(doc !== 'single'){%>
            <div style="margin-top:40px;">
              文档地址：<a href="https://github.com/75team/www.thinkjs.org/tree/master/view/<%-lang%>/doc/<%-version%>/<%-doc%>.md" target="_blank">https://github.com/75team/www.thinkjs.org/tree/master/view/<%-lang%>/doc/<%-version%>/<%-doc%>.md</a>
            </div>
            <%}%>
        </div>
    </div>
</div>
<script src="/static/module/jquery/1.9.1/jquery.js"></script>
<script src="/static/module/bootstrap/js/bootstrap.js"></script>
<script src="/static/module/highlight/highlight.pack.js"></script>
<script >$(function(){hljs.initHighlightingOnLoad();})</script>
<script>
function showselect(id){
  var container = $('#' + id);
  container.find("a").click(function(){
    container.find("ul").show();
  });
  container.find("li").click(function(){
    container.find("a").find('span').text($(this).text());
    container.find("ul").hide();
    var version = $(this).html().trim();
    location.href = '/<%-lang%>/doc/' + version + '/index.html';
  });

};
showselect("version");
</script>
<%include inc/footer.html %>