<%include inc/header.html %>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">插件</h2>

      <p>ThinkJS 2.0 里提供了 2 种类型的插件，Middleware 和 Adapter。<a href="/doc/plugin.html">如何开发插件？</a></p>

      <h3 class="tith3" id="middleware">Middleware</h3>
      <div class="list">
        <ul>
          <li><a href="https://github.com/akira-cn/think-wechat">think-wechat</a> - 微信公众平台接口</li>
          <li><a href="https://github.com/welefen/think-ip-filter">think-ip-filter</a> - IP 访问控制器，支持白名单和黑名单，支持动态获取配置</li>
          <li><a href="https://github.com/welefen/think-html-cache">think-html-cache</a> - HTML 页面静态化，支持多种静态化存储方式</li>
          <li><a href="https://github.com/qgy18/think-debug-toolbar">think-debug-toolbar</a> - 页面调试助手，效果见<a href="http://i.imgur.com/kV5OC1S.png" target="_blank">截图</a></li>
          <li><a href="https://github.com/AlphaTr/think-react-render">think-react-render</a> - 在服务端渲染 React 组件</li>
          <li><a href="https://github.com/pronebel/think-cors">think-cors</a> - 设置跨域请求头</li>
          <li><a href="https://github.com/lizheming/think-response-time">think-response-time</a> - 在响应头中添加相应时间显示</li>
          <li><a href="https://github.com/lizheming/think-webpack-dev-middleware">think-webpack-dev-middleware</a> - 在服务端编译 webpack 项目</li>
          <li><a href="https://github.com/lizheming/think-webpack-hot-middleware">think-webpack-hot-middleware</a> - ThinkJS webpack 热更新插件</li>
        </ul>
      </div>
      <h3 class="tith3" id="adapter">Adapter</h3>

      <div class="list">
        <ul>
          <li><a href="https://github.com/thinkjs-team/think-template-handlebars">think-template-handlebars</a> - 视图使用 Handlebars 模板引擎</li>
          <li><a href="https://github.com/lizheming/think-template-twig">think-template-twig</a> - 视图使用 Twig 模板引擎</li>
          <li><a href="https://github.com/1021683053/think-template-art">think-template-art</a> - 视图使用 art-template 模板引擎</li>
          <li><a href="https://github.com/akira-cn/think-leancloud">think-leancloud</a> - LeanCloud 的 Cache、Store、Session 等 Adapter</li>
          <li><a href="https://github.com/im-kulikov/think-socket-uws">think-socket-uws</a> - WebSocket 使用 uwebsocket</li>
        
        </ul>
      </div>

      <h3 class="tith3" id="adapter">其他</h3>

      <div class="list">
        <ul>
          <li><a href="https://github.com/thinkjs-team/think-pagination">think-pagination</a> - 基于 Bootstrap 的分页插件</li>
          <li><a href="https://github.com/yupeng528/think-sublime">think-sublime</a> - Sublime Text 3 自动完成插件</li>
          <li><a href="https://github.com/lappaport/thinkjs-atom-snippets">think-atom</a> - ThinkJS Atom 自动完成插件</li>
          <li><a href="https://github.com/xunuoi/node-bigpipe">node-bigpipe</a> bigpipe 插件</li>
          <li><a href="https://github.com/lizheming/dash-thinkjs">Dash 文档插件</a> 如何安装见<a href="http://www.w3ctech.com/topic/1674">这里</a></li>
          <li><a href="https://github.com/snadn/think-react-page">think-react-page</a> - 使用 React 来构建同构的 WebPage</li>
          <li><a href="https://github.com/snadn/think-react-app">think-react-app</a> - 使用 React 来构建同构的 spa</li>
        </ul>
      </div>

      <div class="ploy">
        <h4>社区奖励计划：</h4>
        <p>每年拿出 ￥5000 的经费用来奖励对 ThinkJS 社区有帮助的用户：</p>
        <p>发布一个 Middleware 奖励 ￥30，需要使用 ES6/7 开发，有完整的文档和测试用例</p>
        <p>发布一个 Adapter 奖励 ￥50，需要使用 ES6/7 开发，有完整的文档和测试用例</p>
        <p>发布一篇有技术含量使用 ThinkJS 的文章奖励 ￥5</p>
        <p>可通过 QQ 或者邮箱联系作者，具体策略可能会因为一些特殊情况进行调整，ThinkJS-Team 具有最终解释权。<a href="/spending.html">支出记录</a></p>
      </div>
  </div>
</div>
<%include inc/footer.html %>
