<%include inc/header.html %>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">支出记录</h2>

      <div class="list">
        <ul>
          <li>2016/03/30 - 2.2.0 版本发布，微信红包 ￥150.00</li>
          <li>2016/01/22 - 奖励 <a href="https://github.com/pronebel/think-cors">think-cors</a> 插件红包，￥30.00</li>
          <li>2016/01/17 - QQ 年费会员，将 QQ 群人数上限升级到 1000 人，￥110.00</li>
          <li>2016/01/15 - 奖励 <a href="https://github.com/AlphaTr/think-react-render">think-react-render</a> 插件红包，￥30.00</li>
          <li>2015/12/18 - ThinkJS 走进 D2，微信红包 ￥588.00</li>
          <li>2015/12/11 - ThinkJS 走进今日头条，微信红包 ￥188.00</li>
          <li>2015/12/07 - 加入 Node.js 微信群，微信红包 ￥66.00</li>
          <li>2015/11/27 - ThinkJS 走进美丽说，微信红包 ￥288.00</li>
          <li>2015/11/24 - 请翻译文档为英文的同学吃饭，￥617.00</li>
          <li>2015/11/21 - 360 训练营前端专场，微信红包 ￥500.00</li>
          <li>2015/11/18 - 奖励 @N <a href="http://www.eyblog.com/page/thinkjs.html">easyou 的博客从 1.x 升级到 2.0 记录</a>，微信红包 ￥5.00</li>
          <li>2015/11/09 - ThinkJS 定制杯子（<a href="https://item.taobao.com/item.htm?spm=a1z09.2.0.0.eTwB5F&id=9984710503&_u=k1i24vc71a5">男：40 个</a>，<a href="https://item.taobao.com/item.htm?spm=a1z09.2.0.0.eTwB5F&id=35445399844&_u=k1i24vc8842">女：16 个</a>）￥950.00</li>
          <li>2015/10/30 - ThinkJS 2.0 发布，微信红包 ￥666.00</li>
        </ul>
      </div>
  </div>
</div>
<%include inc/footer.html %>