<%include inc/header.html %>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">关于我们</h2>

      <p>ThinkJS 是<a href="http://www.75team.com/">奇舞团</a>开源的一款 Node.js 框架，主要由 <a href="http://welefen.com/">welefen</a> 负责架构设计和开发，该框架使用 async/await 彻底解决异步回调的问题。</p>

      <h3 class="tith3">框架名称使用规范</h3>

      <p>除 URL、npm 包名、文件路径等地方使用小写外，其他地方统一使用 ThinkJS。</p>
  
      <h3 class="tith3">Logo</h3>
      <p>
        <a href="/static/img/logo_1024.png" target="_blank">
          <img src="/static/img/logo_1024.png" style="max-width:95%;display:block;" alt="">
        </a>
        下载大图后可以根据需要缩放
      </p>

      <h3 class="tith3">官方定制品</h3>
      <p>
        <img src="/static/img/cup_male.jpg" class="cup" alt="">
        <img src="/static/img/cup_female.jpg" class="cup" alt="">
      </p>
      <p>可以参加官方相关活动获得</p>
  </div>
</div>
<%include inc/footer.html %>