<%include inc/header.html %>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">示例</h2>

      <h3 class="tith3">网站源码</h3>
      <div class="list">
        <ul>
          <li><a href="https://github.com/75team/firekylin">Firekylin</a> - 基于 ES6 &amp; React 的通用博客系统</li>
          <li><a href="https://github.com/75team/www.thinkjs.org">www.thinkjs.org</a> - 官网源码</li>
          <li><a href="https://github.com/thinkjs-team/cicada">cicada</a> - 个人收藏系统源码</li>
        </ul>
      </div>
      <h3 class="tith3">示例</h3>
      <div class="list">
        <ul>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/file-upload">文件上传</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/file-download">文件下载</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-mysql">Mysql 相关操作</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-relation">关联模型操作示例</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-mongo">MongoDB 操作</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/websocket-socket.io">基于 socket.io 的聊天室</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/websocket-sockjs">基于 SockJS 的聊天室</a></li>
          <li><a href="https://github.com/fegg/hellothinkjs">小撸出品: 最简单的 ThinkJS 入门代码</a></li>
        </ul>
      </div>
      <h3 class="tith3">文章</h3>
      <div class="list">
        <ul>
          <li><a href="http://www.cnblogs.com/jkisjk/p/debug_thinkjs_with_webstorm.html">ThinkJS 项目用 WebStorm 来设置断点与调试</a></li>
          <li><a href="http://www.eyblog.com/page/thinkjs.html">easyou 的博客从 1.x 升级到 2.0 记录</a></li>
        </ul>
      </div>
  </div>
</div>
<%include inc/footer.html %>