<%include inc/header.html %>
<div class="content">
  <div class="wrap demo">
      <h2 class="tith2">示例</h2>
      <div class="demo-list">
        <ul>
          <li><a href="https://github.com/75team/firekylin">Firekylin - 基于 ES6 & React 的通用博客系统</a></li>
          <li><a href="https://github.com/75team/www.thinkjs.org">www.thinkjs.org 网站源码</a></li>
        </ul>
        <ul>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/file-upload">文件上传</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/file-download">文件下载</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-mysql">Mysql 相关操作</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-relation">关联模型操作示例</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-mongo">MongoDB 操作</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/websocket-socket.io">基于 socket.io 的聊天室</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/websocket-sockjs">基于 SockJS 的聊天室</a></li>
        </ul>
      </div>
  </div>
</div>
<%include inc/footer.html %>