<%include inc/header.html %>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">大事记</h2>
      
      <div class="list">
        <ul>
          <li>2016/01/22 - 2.1 版本英文文档翻译完成</li>
          <li>2016/01/14 - ThinkJS 发布 2.1 版本，支持 TypeScript，性能提升 90%，<a href="http://www.w3ctech.com/topic/1676">http://www.w3ctech.com/topic/1676</a></li>
          <li>2016/01/14 - ThinkJS 被 <a href="https://cnodejs.org/user/i5ting">@i5ting</a> 评为年度最有前途框架，<a href="https://cnodejs.org/topic/5696e43e6272216e51bff67e">https://cnodejs.org/topic/5696e43e6272216e51bff67e</a></li>
          <li>2016/01/07 - ThinkJS 在 GitHub 上的 star 数突破 1000</li>
          <li>2015/12/18 - ThinkJS 走进 D2 分享，<a href="http://d2forum.alibaba-inc.com/">http://d2forum.alibaba-inc.com/</a></li>
          <li>2015/12/11 - ThinkJS 走进今日头条分享</li>
          <li>2015/11/30 - 2.0 英文文档翻译完成</li>
          <li>2015/11/27 - ThinkJS 走进美丽说分享</li>
          <li>2015/11/21 - 360 训练营前端专场分享</li>
          <li>2015/10/30 - ThinkJS 2.0 版本发布，支持 ES6/7 特性，自动编译和自动更新，<a href="http://www.w3ctech.com/topic/1554">http://www.w3ctech.com/topic/1554</a></li>
          <li>2015/03/11 - ThinkJS 2.0 架构设计文档完成，<a href="http://naotu.baidu.com/file/c1ddbe1c10aa3b656fa3e85c6c92482a">http://naotu.baidu.com/file/c1ddbe1c10aa3b656fa3e85c6c92482a</a></li>
          <li>2014/09/22 - ThinkJS 1.0 版本发布，<a href="http://www.w3ctech.com/topic/265">http://www.w3ctech.com/topic/265</a></li>
          <li>2013/09/23 - GitHub 上建立 ThinkJS 项目</li>
        </ul>
      </div>
  </div>
</div>
<%include inc/footer.html %>