<%include inc/header.html %>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">捐赠</h2>
      <p>如果 ThinkJS 对你有较大的帮助，欢迎捐赠 ThinkJS，否则请不要捐赠。捐赠的每一笔款项都会用来发展社区。<a href="/spending.html">支出记录</a></p>
      <p>捐赠名单默认不会在网站上显示，如果你希望显示，可以 fork <a href="https://github.com/75team/www.thinkjs.org">官网项目</a>，在<a href="https://github.com/75team/www.thinkjs.org/blob/master/view/zh-cn/home/index_donate.html">该页面</a>底部添加，完成后发 pull request，网站会不定期更新。</p>
      <h3 class="tith3" id="middleware">微信捐赠</h3>
      <div class="wechat clearfix">
<!--         <img src="/static/img/wechat_8.jpg" alt="微信捐赠￥8"> -->
        <img src="/static/img/wechat_18.jpg" alt="微信捐赠￥18">
        <img src="/static/img/wechat_38.jpg" alt="微信捐赠￥38">
        <img src="/static/img/wechat_88.jpg" alt="微信捐赠￥88">
<!--         <img src="/static/img/wechat_128.jpg" alt="微信捐赠￥128">
        <img src="/static/img/wechat_188.jpg" alt="微信捐赠￥188"> -->
      </div>
      <h3 class="tith3" id="adapter">支付宝捐赠</h3>
      <div>
        <img src="/static/img/alipay.png" width="344" height="344" alt="支付宝捐赠">
      </div>
      <h3 class="tith3" id="adapter">捐赠名单</h3>
      <table>
        <tr>
          <th width="25%">时间</th>
          <th width="20%">姓名</th>
          <th width="15%">金额</th>
          <th width="40%">备注</th>
        </tr>
        <tr>
          <td>2016/05/19</td>
          <td>神奇的zz</td>
          <td>￥88.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2016/04/06</td>
          <td>fly</td>
          <td>￥88.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2016/04/01</td>
          <td>fly</td>
          <td>￥88.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2016/01/27</td>
          <td>李彧</td>
          <td>￥100.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2016/01/26</td>
          <td>墨尘</td>
          <td>￥88.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2016/01/26</td>
          <td>原来无线好</td>
          <td>￥18.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2016/01/22</td>
          <td>阿特</td>
          <td>￥88.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2016/01/15</td>
          <td>黄扬扬</td>
          <td>￥66.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2016/01/15</td>
          <td>阿特</td>
          <td>￥88.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2015/12/21</td>
          <td>永红</td>
          <td>￥50.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2015/12/20</td>
          <td>赵成围</td>
          <td>￥18.00</td>
          <td></td>
        </tr> 
        <tr>
          <td>2015/11/25</td>
          <td>飞月</td>
          <td>￥18.00</td>
          <td></td>
        </tr> 
        <tr>
          <td>2015/11/13</td>
          <td>蔡帅</td>
          <td>￥200.00</td>
          <td></td>
        </tr> 
        <tr>
          <td>2015/11/08</td>
          <td>赵成围</td>
          <td>￥18.00</td>
          <td></td>
        </tr>
        <tr>
          <td>2015/11/08</td>
          <td>凌子清</td>
          <td>￥20.00</td>
          <td></td>
        </tr> 
      </table>
  </div>
</div>
<%include inc/footer.html %>