<%include inc/header.html %>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">Demo</h2>

      <h3 class="tith3">Source Code</h3>
      <div class="list">
        <ul>
          <li><a href="https://github.com/75team/firekylin">Firekylin</a> - A Simple &amp; Fast Node Bloging Platform Base On ThinkJS 2.0 & ReactJS & ES6/7</li>
          <li><a href="https://github.com/75team/www.thinkjs.org">www.thinkjs.org</a> - ThinkJS website code</li>
          <li><a href="https://github.com/thinkjs-team/cicada">cicada</a> - Favorite article collections based on Node.js & ThinkJS</li>
        </ul>
      </div>
      <h3 class="tith3">Demo</h3>
      <div class="list">
        <ul>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/file-upload">File upload</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/file-download">File download</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-mysql">Mysql operations</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-relation">Relation models</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/model-mongo">MongoDB operations</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/websocket-socket.io">Chat with socket.io</a></li>
          <li><a href="https://github.com/75team/thinkjs2-demos/tree/master/websocket-sockjs">Chat with SockJS</a></li>
        </ul>
      </div>
  </div>
</div>
<%include inc/footer.html %>