{% extends "./layout.html" %}

{% block content %}

<div class="container">
  <div>
    <h2>Changelog</h2>
    <h3>history</h3>
    <div class="changelog">
      <ul>
        {% for h in histories %}
        <li>
          <div class="dailycont">
            <i class="arrowl"></i>
            <span><strong>{{h.version}}</strong>{{h.date}}</span>
            {% for l in h.list %}
            <p>{{l}}</p>
            {% endfor %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <h3>ThinkJS versoning strategy</h3>
    <ul>
      <li>Small release in 1~2 weeks, e.g. 1.0.1 => 1.0.2 (small features and bug fixes).</li>
      <li>Feature release in 1~3 months, e.g. 1.0.0 => 1.1.0 (big features and small refactory).</li>
      <li>Major release in 1~2 years, e.g. 1.0.0 => 2.0.0 (framework re-design and refactory).</li>
      <li>Small adjustment may apply according to special situation.</li>
    </ul>
  </div>
</div>

{% endblock %}
