<%include inc/header.html %>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">Plugin</h2>

      <p>ThinkJS 2.x support middleware and adapter, <a href="/doc/plugin.html">how to develop？</a></p>

       <h3 class="tith3" id="middleware">Middleware</h3>
      <div class="list">
        <ul>
          <li><a href="https://github.com/welefen/think-ip-filter">think-ip-filter</a> - ip filter, support whitelist and blacklist, support get dynamic data</li>
          <li><a href="https://github.com/welefen/think-html-cache">think-html-cache</a> - html static cache</li>
          <li><a href="https://github.com/qgy18/think-debug-toolbar">think-debug-toolbar</a> - debug, see more <a href="http://i.imgur.com/kV5OC1S.png" target="_blank">screenshot</a></li>
          <li><a href="https://github.com/AlphaTr/think-react-render">think-react-render</a> - Server side render React component</li>
          <li><a href="https://github.com/pronebel/think-cors">think-cors</a> - set cors header</li>
          <li><a href="https://github.com/lizheming/think-response-time">think-response-time</a> - set response time in header</li>
          <li><a href="https://github.com/lizheming/think-webpack-dev-middleware">think-webpack-dev-middleware</a> - webpack-dev-middleware in ThinkJS</li>
          <li><a href="https://github.com/lizheming/think-webpack-hot-middleware">think-webpack-hot-middleware</a> - webpack-hot-middleware in ThinkJS</li>
        </ul>
      </div>
      <h3 class="tith3" id="adapter">Adapter</h3>

      <div class="list">
        <ul>
          <li><a href="https://github.com/thinkjs-team/think-template-handlebars">think-template-handlebars</a> - use handlebars for template</li>
          <li><a href="https://github.com/lizheming/think-template-twig">think-template-twig</a> - use twig for template</li>
          <li><a href="https://github.com/1021683053/think-template-art">think-template-art</a> - use art for template</li>
          <li><a href="https://github.com/im-kulikov/think-socket-uws">think-socket-uws</a> - use uwebsocket for WebSocket</li>
        </ul>
      </div>

      <h3 class="tith3" id="adapter">Other</h3>

      <div class="list">
        <ul>
          <li><a href="https://github.com/thinkjs-team/think-pagination">think-pagination</a> - pagination based on bootstrap</li>
          <li><a href="https://github.com/yupeng528/think-sublime">think-sublime</a> - Sublime Text 3 plugin</li>
          <li><a href="https://github.com/lappaport/thinkjs-atom-snippets">think-atom</a> - Atom plugin</li>
          <li><a href="https://github.com/xunuoi/node-bigpipe">node-bigpipe</a> bigpipe</li>
        </ul>
      </div>
  </div>
</div>
<%include inc/footer.html %>
