{% extends "./layout.html" %}

{% block content %}

<div class="container">
  <div class="content">
    <div class="wrap page-con">
      <h2 class="tith2">Plugin</h2>

      <p>ThinkJS 2.0 provides two types of plugin, Middleware and Adapter.</p>

      <h3 class="tith3" id="middleware">Middleware</h3>
      <div class="list">
        <ul>
          <li><a href="https://github.com/akira-cn/think-wechat">think-wechat</a> 微信公众平台接口</li>
          <li><a href="https://github.com/welefen/think-ip-filter">think-ip-filter</a> IP 访问控制器，支持白名单和黑名单，支持动态获取配置</li>
          <li><a href="https://github.com/welefen/think-html-cache">think-html-cache</a> HTML 页面静态化，支持多种静态化存储方式</li>
          <li>
            <a href="https://github.com/qgy18/think-debug-toolbar">think-debug-toolbar</a> - 页面调试助手，效果见<a href="http://i.imgur.com/kV5OC1S.png" target="_blank">截图</a>
          </li>
        </ul>
      </div>
      <h3 class="tith3" id="adapter">Adapter</h3>

      <div class="list">
        <ul>
          <li>
            <a href="https://github.com/thinkjs-team/think-template-handlebars">think-template-handlebars</a> 视图使用 Handlebars 模板引擎
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
