<%include inc/header.html %>
<div class="banarea" style="background-image:url(./static/img/banbg.jpg)">
  <div class="wrap">
      <h1 class="slogan">The web framework  beyond your dreams</h1>
      <h3 class="slogan-desc">use full ES6/7 features to develop web applications</h3>
      <a href="/doc.html" class="btn-link">Getting Started</a>
    </div>
</div>
<div class="banbot">
  <div class="wrap">
        <p>Check out the latest developments in the <a href="https://github.com/75team/thinkjs" class="blue">GitHub repo</a></p>
        <div class="share">
        
<!--           <a target="_blank" href="https://github.com/75team/thinkjs">
            <img height="20" src="https://img.shields.io/github/stars/75team/thinkjs.svg?style=social&label=Star" alt="github star">
          </a>
          <a target="_blank" href="http://badge.fury.io/js/thinkjs">
            <img height="20" src="https://img.shields.io/npm/v/thinkjs.svg?style=flat-square" alt="npm version">
          </a>
          <a target="_blank" href="https://travis-ci.org/75team/thinkjs">
            <img height="20" src="https://img.shields.io/travis/75team/thinkjs.svg?style=flat-square" alt="npm build">
          </a>
          <a target="_blank" href="https://coveralls.io/github/75team/thinkjs">
            <img height="20" src="https://img.shields.io/coveralls/75team/thinkjs.svg?style=flat-square" alt="coverage">
          </a> -->
          <a target="_blank" href="https://github.com/75team/thinkjs">
            <img height="20" src="/static/other/icon/star.svg" alt="github star">
          </a>
          <a target="_blank" href="https://github.com/75team/thinkjs">
            <img height="20" src="/static/other/icon/version.svg" alt="npm version">
          </a>
          <a target="_blank" href="https://github.com/75team/thinkjs">
            <img height="20" src="/static/other/icon/build.svg" alt="npm build">
          </a>
          <a target="_blank" href="https://github.com/75team/thinkjs">
            <img height="20" src="/static/other/icon/coverage.svg" alt="coverage">
          </a>
        </div>
    </div>
</div>
<div class="flinfo">  
  <div class="wrap">
      <div class="tit"><h3>Thinkjs on ES6/7</h3></div>
<!--     <p class="tips">借助 Babel 编译，可以大胆的在项目使用 ES6/7 语法。</p> -->
        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">//user controller, home/controller/user.js</span>
<span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">think</span>.<span class="hljs-title">controller</span>.<span class="hljs-title">base</span> </span>{
  <span class="hljs-comment">//login action</span>
  <span class="hljs-keyword">async</span> loginAction(){
    <span class="hljs-keyword">if</span>(<span class="hljs-keyword">this</span>.isGet()){
      <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.display();
    }
    <span class="hljs-comment">//data is validated in logic</span>
    <span class="hljs-keyword">let</span> data = <span class="hljs-keyword">this</span>.post();
    <span class="hljs-keyword">let</span> md5 = think.md5(<span class="hljs-string">'think_'</span> + data.pwd);
    <span class="hljs-keyword">let</span> result = <span class="hljs-keyword">await</span> <span class="hljs-keyword">this</span>.model(<span class="hljs-string">'user'</span>).where({name: data.name, pwd: md5}).find();
    <span class="hljs-keyword">if</span>(think.isEmpty(result)){
      <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.fail(<span class="hljs-string">'login fail'</span>);
    }
    <span class="hljs-comment">//set userInfo to session</span>
    <span class="hljs-keyword">await</span> <span class="hljs-keyword">this</span>.session(<span class="hljs-string">'userInfo'</span>, result);
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.success();
  }
}
</code></pre>
    </div>
</div>
<div class="flfet"> 
  <div class="wrap">
      <div class="tit2"><h3>FEATURES</h3></div>
<!--       <p class="tips">Make Async Easy Based On ES6</p> -->
        <ul class="fetlist">
          <li>
              <i class="icon-fet1"></i>
              <p><strong>Support ES6/7 Features</strong>You can write code with full features of ES6/7 (Generator Function, Class, Async & Await etc.), the compiled code generate by Babel is test to stably run in Node.js.</p>
            </li>
          <li>
              <i class="icon-fet2"></i>
              <p><strong>Rich Database Support</strong>Support Mysql, Sqlite, Mongodb with highly encapsulated and easy to use methods, in which SQL injection filters are also implemented.</p>
            </li>
          <li>
              <i class="icon-fet3"></i>
              <p><strong>Hook & Middleware</strong>Rich hooks and middlewares are provided for accessing user request.</p>
            </li>
          <li>
              <i class="icon-fet4"></i>
              <p><strong>REST API</strong>Auto-generated REST API without writting extra code. Data level authorization control is supported by which you can allow/disallow data access to certain user</p>
            </li>
          <li>
              <i class="icon-fet5"></i>
              <p><strong>Support WebSocket</strong>You only write one set of code to support common websocket clients like socket.io and sockjs.</p>
            </li>
          <li>
              <i class="icon-fet6"></i>
              <p><strong>Rich Adapter</strong>Easy swiching between Cache, Store, Session and Template, to change your app's behavior without concerning what 's behinde.</p>
            </li>
          <li>
              <i class="icon-fet7"></i>
              <p><strong>Hot Module Replacement(HMR)</strong>In development mode, HMR monitors file changes and replace them in the active runtime, without restarting Node.js.</p>
            </li>
          <li>
              <i class="icon-fet8"></i>
              <p><strong>Common Line Interface</strong>Support invoke Action in CLI, easier to simulate timer behaviors.</p>
          </li>
        </ul>
    </div>
</div>
<div class="fluser">  
  <div class="wrap">
        <ul class="userlist">
          <li>
              <p class="usertalk">ThinkJS established the benchmark of usability and innovativeness, she represents high level standard among new Node.js app frameworks. I wish everyone likes her and contribute to build up a prosperous community and a better ThinkJS.</p>
                <div class="userinfo clearfix">
                  <img src="/static/img/portrait_yueying.jpg" alt="月影" />
                    <p>
                      <strong>月影</strong>360 Qihoo Team Leader
                    </p>
                </div>
            </li>
          <li>
              <p class="usertalk">ThinkJS 2.0 is disruptive, condense the author's painstaking efforts and wizdom of the community, we belive her performance, availability and extensibility will bring the developer more surprise and shock!</p>
                <div class="userinfo clearfix">
                  <img src="/static/img/portrait_lisongfeng.jpg" alt="李松峰" />
                    <p>
                      <strong>李松峰</strong>Translator of《Prefessional JavaScript for Web Developers》
                    </p>
                </div>
            </li>
          <li>
              <p class="usertalk">The best part of ThinkJS is she has a smooth learning curve and easy to use, in the mean while provide you great features with extensibility! It is a good choice whether you use it on project or learning Node.js! w3ctech is developed in ThinkJS.</p>
                <div class="userinfo clearfix">
                  <img src="/static/img/portrait_zhouyubo.jpg" alt="周裕波" />
                    <p>
                      <strong>周裕波</strong>w3ctech sponsor
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<%include inc/footer.html %>