<%include inc/header.html %>

<div class="content">
  <div class="wrap clearfix">
      <div class="lbox">
          <dl>
              <dt>快速入门</dt>
                <dd>
                  <a href="">安装thinkjs</a>
                    <a href="">新建项目</a>
                    <a href="">启动服务</a>
                </dd>
            </dl>
            <dl>
              <dt>架构</dt>
                <dd>
                  <a href="">模块化设计</a>
                    <a href="">CBD模式</a>
                    <a href="">自动加载</a>
                </dd>
            </dl>
            <dl>
              <dt>控制器</dt>
                <dd>
                  <a href="">定义控制器</a>
                    <a href="">前置、后置操作</a>
                    <a href="">空操作</a>
                    <a href="">空控制器</a>
                </dd>
            </dl>
            <dl>
              <dt>模型定义</dt>
                <dd>
                  <a href="">数据表定义</a>
                    <a href="">模型实例化</a>
                    <a href="">链式调用</a>
                    <a href="">CURD操作</a>
                </dd>
            </dl>
            <dl>
              <dt>高级功能</dt>
                <dd>
                  <a href="">缓存</a>
                    <a href="">Session</a>
                    <a href="">WebSocket</a>
                  <a href="">变量过滤器</a>
                    <a href="">数据校验</a>
                    <a href="">命令行模式</a>
                  <a href="">Restful</a>
                    <a href="">Http对象</a>
                    <a href="">反向代理</a>
                </dd>
            </dl>
            <dl>
              <dt>附录</dt>
                <dd>
                  <a href="">系统所有配置</a>
                    <a href="">路径常量</a>
                </dd>
            </dl>
      </div>
        <div class="rbox">
          <div class="clearfix">
            <div class="doc-link pull-left">
              <a href=""><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download all doc as PDF</a>
              <a href=""><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View on single page</a>
            </div>
            <div class="search pull-right">
              <form>
                  <input class="sea-txt" value="" placeholder="keyword" />
                  <input class="sea-btn" value="" />
              </form>
            </div>
          </div>
            <div class="article">
                <h2>Laravel Homestead</h2>
               
                <h3>Laravel Homestead</h3>
                <p>Laravel strives to make the entire PHP development experience delightful, including your local development environment. Vagrant provides a simple, elegant way to manage and provision Virtual Machines.</p>
                <p>Laravel Homestead is an official, pre-packaged Vagrant "box" that provides you a wonderful development environment without requiring you to install PHP, HHVM, a web server, and any other server software on your local machine. No more worrying about messing up your operating system! Vagrant boxes are completely disposable. If something goes wrong, you can destroy and re-create the box in minutes!</p>
                <p>Homestead runs on any Windows, Mac, or Linux system, and includes the Nginx web server, PHP 5.6, MySQL, Postgres, Redis, Memcached, Node, and all of the other goodies you need to develop amazing Laravel applications.</p>
                <div class="alert alert-info" role="alert">Note: If you are using Windows, you may need to enable hardware virtualization (VT-x). It can 
usually be enabled via your BIOS.</div>
            </div>
        </div>
    </div>
</div>
<%include inc/footer.html %>