<%include inc/header.html %>

<div class="content">
  <div class="wrap changelog">
      <h2 class="tith2">Changelog</h2>
        <div class="daily">
          <ul>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>3.2.7</strong>2018.02.28</span>
                  <p>Fix this.fail TypeScript definition</p>
                  <p>Support `this.post('a,b')` batch get parameter</p>
                  <p>In Multi module Controller, `this.service` will search Service file from current module, then common module if not exist.</p>
                </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.2.6</strong>2017.12.14</span>
                    <p>Add config ts definition for Controller, Logic, Contex and Think</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.2.5</strong>2017.12.11</span>
                    <p>Fix Logic TypeScript definition，Logic inherit all Controller methods.</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.2.4</strong>2017.11.14</span>
                    <p>Fix bug with post data is Array type</p>
                    <p>Fix typescript definition for some methods.</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.2.3</strong>2017.10.25</span>
                    <p>Adjust think.app.controllers load order, to fix controller can not get service instance</p>
                    <p>Fix typescript definition for some methods.</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.2.2</strong>2017.10.11</span>
                    <p>Fix bug with dynamic config can not fetch through think.beforeStartServer.</p>
                    <p>Support obtaining query data through ctx.request._query.</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.2.1</strong>2017.09.22</span>
                    <p>Fix Logic TypeScript definition </p>
                    <p>Fix jsonp request Content-Type issue，change to application/javascript</p>
                    <p>Support process.env.THINK_UNIT_TEST enviroment variable, identified as unit test environemnt.</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.2.0</strong>2017.09.19</span>
                    <p>Support TypeScript, comes with think-cli version of 1.1.0</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.1.2</strong>2017.09.12</span>
                    <p>Fix model where method not filter some conditions that would cause <a href="http://t.cn/RpCvcx9">security issues</a></p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.1.1</strong>2017.09.06</span>
                    <p>Fix isAgent method ivoke error</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.1.0</strong>2017.09.01</span>
                    <p>Logic suport scope feature</p>
                    <p>master no loader load extend</p>
                    <p>add stickyCluster config</p>
                    <p>Remove the default host of 127.0.0.1</p>
                    <p>controller.redirect/controller.download return false</p>
                  </div>
              </li>
              <li>
                  <i class="circle"></i>
                  <div class="dailycont">
                    <i class="arrowl"></i>
                    <span><strong>3.0.0</strong>2017.08.17</span>
                    <p>release 3.0.0</p>
                  </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.13</strong>2016.10.14</span>
                  <p>Create project default to multi-module project.(rollback changes)</p>
                  <p>Fix some small issues in PostgreSQL.</p>
                  <p>Default config database prefix to null.</p>
                  <p>Fix bug with model inside relation model BELONG_TO will be deleted.</p>
                  <p>Model buildSql method support if add bracket by parameter.</p>
                  <p>Perfect d.ts</p>
                  <p>Fix bug with parseType is enum or set.</p>
                  <p>CSRF validation can confg by header</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.12</strong>2016.09.27</span>
                  <p>Important update: Fix static resource access leak. (some problem is uncover in previous fix)</p>
                  <p>Fix PostgreSQL case sensitive issue.</p>
                  <p>Default project creation mode to normal and ES6.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.11</strong>2016.09.14</span>
                  <p>Fix bug with Logic auto add empty data.</p>
                  <p>Header auto change to lowercase.</p>
                  <p>Language auto change to lowercase.</p>
                  <p>Add request timeout log</p>
                  <p>Fix bug with model instantiation failed if name contains '/'.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.10</strong>2016.08.25</span>
                  <p>Fix bug with database add operation always return id value of 0.</p>
                  <p>Fix database read and write abruption issue.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.9</strong>2016.08.16</span>
                  <p>Fix concurrect transaction issue.</p>
                  <p>Fix controller fetch method's d.ts descrition issue.</p>
                  <p>Fix mongo can't auto-connet after disconnect.</p>
                  <p>Remove dynamic install mysql module.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.8</strong>2016.08.04</span>
                  <p>Fix bug with model can't customize.</p>
                  <p>Replace node-mysql2 with node-mysql.</p>
                  <p>Fix bug with fleeing transaction executing.</p>
                  <p>Fix logic add empty default value issue.</p>
                  <p>Fix SQLite addMany method return issue.</p>
                  <p>Fix bug with cookie value is incorrect after the restart.</p>
                  <p>Fix bug with if custom port instance failed to start, the error message is not correct.</p>
                  <p>Mongo support ignore default value in update</p>
                  <p>Add this.service in Service</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.7</strong>2016.07.28</span>
                  <p>Fix bug with pathname can't be found in windows after being fixed.</p>
                  <p>Default disable resource_on in production configuration.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.6</strong>2016.07.28</span>
                  <p>Fix PostgreSQL auto-escaping issue.</p>
                  <p>Include src folder into install package.</p>
                  <p>Fix bug with static resource access arbitrary file.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.5</strong>2016.06.17</span>
                  <p>Fix bug with memory Session timeout lose efficacy.</p>
                  <p>Fix bug with think.isNumberString valide empty value return true.</p>
                  <p>Fix bug with table field start with _ can't be recognized.</p>
                  <p>Fix bug with auto configured DB file missing type causes error.</p>
                  <p>Fix bug with SQLite transation syntax error</p>
                  <p>Fix bug with DB connection sometimes can not re-connect after connection exceptions.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.4</strong>2016.05.25</span>
                  <p>Fix bug with use keyword as method field in modal increment and decrement method casues error.</p>
                  <p>Fix postgreSQL error causes connection close.</p>
                  <p>Fix bug with countSelect with order in postgreSQL causes error.</p>
                  <p>Fux bug with statusAction larger than 600 result in error in some Node.js versions.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.3</strong>2016.05.05</span>
                  <p>Support dynamic set parameters in where or limit relational modal, and so on.</p>
                  <p>Support manual configure Logic validation parameters</p>
                  <p>Fix bug with int:0 type validation error.</p>
                  <p>Fix bug with view_parse hook result may not be as expected.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.2</strong>2016.04.27</span>
                  <p>socket.io support namespace.</p>
                  <p>Fix bug with socket.io config adapter is not working.</p>
                  <p>Fix bug with error won't update in auto-compile mode.</p>
                  <p>Fix bug with log color display issues in windows.</p>
                  <p>http.getPayload support returning Buffer.</p>
                  <p>mongo modal support beforeUpdate method.</p>
                  <p>Modal supoort beforeSelect, beforeFind and beforeDelete method.</p>
                  <p>Fix bug with can not get the right cookie right after set cookie.</p>
                  <p>Fix bug with model not auto-update after table field name changed in develop environment.</p>
                  <p>Replace node-mysql with node-mysql2 (performance increase times)</p>
                  <p>Fix bug result in no warning wihout handle Project reject</p>
                  <p>Add method thenUpdate for model.</p>
                  <p>Add prop method for http object.</p>
                  <p>Fix bug with new user's DB session exception.</p>
                  <p>Fix bug with PostgreSQL insert can't get insertId.</p>
                  <p>Update dependencies version.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.1</strong>2016.03.30</span>
                  <p>Fix bug with ThinkJS versioning on create project.</p>
                  <p>Fix error path missing one hierarchy.</p>
                </div>
              </li>
               <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.2.0</strong>2016.03.30</span>
                  <p>Support ES2015+ Breakpoint Debugging.</p>
                  <p>Support error message locate to src/ folder.</p>
                  <p>Fix bug with can't fetch I18N error.</p>
                  <p>Reomve default field value fetched from database, fix bug with modify specify value reports error.</p>
                  <p>Fix bug with error info can't be clear if there are multiple compile errors on the same file.</p>
                  <p>Remove retainLines compile option.</p>
                  <p>Fix bug with different validation rule incorrect.</p>
                  <p>Fix bug with File Session fetch empty content causes Session losed.</p>
                  <p>Fix bug with addMany method returning the wrong value.</p>
                  <p>Fix bug with empty rules in data validation result in error.</p>
                  <p>Fix bug with mongo model aggregate method return incorrect value.</p>
                  <p>Fix bug with afterDelete take no effect.</p>
                  <p>Fix bug with type of BELONG_TO in Relation Model can't set fKey.</p>
                  <p>Change log_sql default to off on production environemnt.</p>
                  <p>Fix bug with metheds like sum with expression parameters report error.</p>
                  <p>Fix bug with Mysql not recognize database encoding.</p>
                  <p>Fix bug with postgresql field type can't be boolean.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.8</strong>2016.03.15</span>
                  <p>Fix bug with Mysql multi-connection reports Connection already Released error.</p>
                  <p>Fix bug with create project path partialiy incorrect.</p>
                  <p>Optimize when project start check module environment.</p>
                  <p>Fix parseGroup with expression reports error.</p>
                  <p>Add more error infomation when call non-exist Action.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.7</strong>2016.03.01</span>
                  <p>Fix bug with not properly handle Promise causes error message.</p>
                  <p>Fix bug resulting in ObjectID can be class.</p>
                  <p>Fix model schema default value not support nesting.</p>
                  <p>Add log_error config to decide if print 500 error log.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.6</strong>2016.02.25</span>
                  <p>Fix bug with correlation model failed add due to missing part of data.</p>
                  <p>Fix bug with database table name contains keyword reports error.</p>
                  <p>Fix bug with model find method return multiple result in some conditions.</p>
                  <p>Fix bug with file upload failed causes request can not be ended.</p>
                  <p>Remove listening to unhandledRejection event.</p>
                  <p>Fix bug with fetch method missing config parameter.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.5</strong>2016.02.04</span>
                  <p>Add think.datetime, think.isFileAsync, think.isDirAsync method.</p>
                  <p>Improve uploaded data parsing.</p>
                  <p>Fix when creating project, the display project command may be incorrect.</p>
                  <p>Fix bug with ID return by Mongo is not a string</p>
                  <p>Fix bug with template confiure parsing error</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.4</strong>2016.01.22</span>
                  <p>Support default value on data modal update.</p>
                  <p>Support trim on data validation.</p>
                  <p>Support pre-load on service start, production mode default to turn on.</p>
                  <p>nunjucks template now use asynchronous rendering.</p>
                  <p>Support genertate test/ foloder on creating project.</p>
                  <p>Fix bug with windows not supporting multi-level controller.</p>
                  <p>Fix bug with detect project type failed on first compile.</p>
                  <p>Fix bug with addMany reports error.</p>
                  <p>Fix bug with regx validation on null value casue error.</p>
                  <p>Fix bug with SQLite connection data name incorrect.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.3</strong>2016.01.19</span>
                  <p>Added think.isMaster property.</p>
                  <p>Service class added method model.</p>
                  <p>think.base added method parseModuleFromPath.</p>
                  <p>Fix bug with parsing model default value incorrect.</p>
                  <p>Fix bug when model where condition is string, add another condition will causes error.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.2</strong>2016.01.15</span>
                  <p>Add --allowSyntheticDefaultImports parameters for TypeScript compiling.</p>
                  <p>Fix bug with creating TypeScript project error if file name suffix is not .ts.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.1</strong>2016.01.15</span>
                  <p>Fix bug with database prefix not working.</p>
                  <p>Added support Babel set presets and plugins.</p>
                  <p>Fix bug with multiple hierachy controller can't be found.</p>
                  <p>Added deprected method getTableFields to compatible with former version.</p>
                  <p>Fix bug with baseAssign overrides custom settings.</p>
                  <p>Fix bug with missing think.RUNTIME_PATH causes path incorrect.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.1.0</strong>2016.01.14</span>
                  <p>Support TypeScript, see details <a href="">here</a>.</p>
                  <p>Performance increase 90%, better than Koa and express, see benchmark <a href="">here</a>.</p>
                  <p>Added support Controller sub-folder.</p>
                  <p>Added support PostgreSQL database.</p>
                  <p>Added support set default value in Model schema.</p>
                  <p>Change Hook middleware return null will block the rest middleware.</p>
                  <p>Added alias method render for http and controller display.</p>
                  <p>Added synchronous method think.waterfall.</p>
                  <p>Added support Validate with Regex.</p>
                  <p>Added support transmit data with fetch.</p>
                  <p>Added support Logic to get request type.</p>
                  <p>Added support timed task can directly invoke action.</p>

                  <p>Upgrade Babel to 6.</p>
                  <p>Locale name is not case sensiive.</p>
                  <p>Change to asynchronous fetch template file content.</p>
                  <p>http object no longer inherit from EventEmitter.</p>
                  <p>Drop think.mode_mini mode, controller support sub-folder.</p>
                  <p>Rename name to database in database setting.</p>
                  <p>Rename fields to schema.</p>
                  <p>Rename pwd to password in database setting.</p>


                  <p>Optimize http object creation, no need to copy each time.</p>
                  <p>Filtered hidden file types like .svn, .git etc.</p>
                  <p>Move bin/index.js to src/command.js.</p>
                  <p>Move runtime folder to project root, added think.RUNTIME_PATH constant.</p>
                  <p>Added support to auto lower case adapter type, with prompt.</p>
                  <p>Added thinkData, for frequently-used data caching.</p>
                  <p>Combine think.locale and controller.locale.</p>


                  <p>Fix bug with nunjucks inherit file can't be found.</p>
                  <p>Fix bug with escaped / in pathname causes parsing error.</p>
                  <p>Fix bug with modifying data response by http.file will causes source data being modified.</p>
                  <p>Add support path / no need to change to \\ in windows.</p>
                  <p>Fix bug resulting in nunjucks can place template files not only in root folder.</p>
                  <p>Added on production mode, prevent the page from outputting sensitive data.</p>
                  <p>Added on development mode, JSON parse failed message will be logged for debugging.</p>
                  <p>Fix bug resulting in on view root_path changed will also update the view path.</p>
                  <p>Fix bug with incorect required|int rule validation.</p>
                  <p>Fix bug with redis cache parsing settings.</p>
                  <p>Fix bug resulting in REST API can support logic.</p>
                  <p>Fix bug with count method failed when parameter name is keyword.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.16</strong>2016.01.08</span>
                  <p>Added support think.parseConfig method support context.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.15</strong>2015.12.25</span>
                  <p>Fix bug with setting nunjucks root_path logic failing.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.14</strong>2015.12.25</span>
                  <p>Added support MongoDB with multiple host configures.</p>
                  <p>Fix bug with nunjucks root_path setting.</p>
                  <p>Added support on development mode, print the payload parsing error message.</p>
                  <p>Added support when failed to parse payload by JSON, use querystring parsing.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.13</strong>2015.12.08</span>
                  <p>Fix bug with think.parseConfig contains adapter.</p>
                  <p>Fix bug resulting in update relation model also update files relative.</p>
                  <p>Fix use alias in countSelect reports error.</p>
                  <p>Fix bootstrap not being clean and reload on file changed.</p>
                  <p>nunjucks enable autoescape by default.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.12</strong>2015.12.02</span>
                  <p>fix file can't autoreload in windows when compiled.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.11</strong>2015.11.27</span>
                  <p>No longer change name to lowercase on parsing configuration.</p>
                  <p>Fix save model mapping reports error.</p>
                  <p>Fix use SQLite mapping without unique field reports error.</p>
                  <p>Fix set cache resulting in incorrect countSelect result.</p>
                  <p>Fix validation logic to handle empty conent.</p>
                  <p>Fix Session return without completing resulting in not saving.</p>
                  <p>Fix think.parallelLimit has memory leak on single task operation.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.10</strong>2015.11.20</span>
                  <p>Support Object type data validation format.</p>
                  <p>Fix create controller in normal mode reports file content errors.</p>
                  <p>Support thinkjs -v to show version number.</p>
                  <p>Replace think.co.wrap with think.co.</p>
                  <p>Now when calling another action in action, it will auto modify module/controller/action.</p>
                  <p>Support entry file to set retainsFile configure.</p>
                  <p>Support jade template compile cache in production.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.9</strong>2015.11.15</span>
                  <p>Fix change route not refreshing.</p>
                  <p>Move think.npm installation path to root, and support --save option.</p>
                  <p>Fix when count is 0, countSelect reports an error.</p>
                  <p>Fix can't use db session.</p>
                  <p>Fix socket start too many connections.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.8</strong>2015.11.14</span>
                  <p>Fix tempalte file not refreshing.</p>
                  <p>Fix missing dependencies in package.json during set up.</p>
                  <p>Fix auto-compile failed to get project env.</p>
                  <p>Fix nunjucks template can't set root folder.</p>
                  <p>Fix using Babel resulting in errors in module._load on certain platforms.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.7</strong>2015.11.13</span>
                  <p>Drop options from view configuration, and should use adapter from now.</p>
                  <p>Suppress loading of non-js bootstrap files.</p>
                  <p>Add option to install dependencies during set up.</p>
                  <p>No longer keep static resource accessing logs.</p>
                  <p>Add think.camelCase method.</p>
                  <p>Support custom parsing configuration file, add think.parseConfig method.</p>
                  <p>Display error page when output Promise.</p>
                  <p>Fix Babel occasionally failed.</p>
                  <p>Display page compiled errors on current URL.</p>
                  <p>Remove source file will also remove the compiled file.</p>
                  <p>Fix mini and normal module can't load bootstrap files.</p>
                  <p>Fix file session occasionally errors.</p>
                  <p>Fix some children file not refreshing on its parent being modified.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.6</strong>2015.11.08</span>
                  <p>URL parsed Action name support '-' character.</p>
                  <p>Add think.mergeConfig method, auto-merged adapter parameters.</p>
                  <p>Configuration like Cache, Session accept adapter config.</p>
                  <p>Add think.pallelLimit mehotd, to limit the concorrency number.</p>
                  <p>Add auto-compile mechanism, remove 'npm run watch-compile' command.</p>
                  <p>Add detection for 'common' module only configuration.</p>
                  <p>Config support parser, Redis、Memcache support distributed config.</p>
                  <p>Add think.adapter.base, all 'Adapter' are inherit from this base class.</p>
                  <p>Remove options config in view, and use 'adapter' as a substitution.</p>
                  <p>Fix change the bae file the parent will not update iit self.</p>
                  <p>Fix third party middleware parse payload causes stop execution.</p>
                  <p>Fix if file name contains special character causes the error message could not use uppercase.</p>
                  <p>Fix Session sometimes reports an error.</p>
                  <p>Fix can not access resource wihich URL contains Chinese Character.</p>
                  <p>Fix static resource Range head not handle properly.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.5</strong>2015.11.02</span>
                  <p>Fix Logic rule contains space produces error.</p>
                  <p>Improve object structure of Logic rule validation result.</p>
                  <p>Rename bootstrap/hook.js to bootstrap/middleware.js during project creation.</p>
                  <p>Add config/hook.js during projec creation.</p>
                  <p>Babel compile add --retain-lines option, to keep the same code line number after compilation.</p>
                  <p>Add auto convert MongoID query string to MongoID object.</p>
                  <p>Fix new files not being reloaded.</p>
                  <p>Fix think.cache failed to assign object type.</p>
                  <p>update module add validation on where query.</p>
                  <p>Remove the buildin deny_ip middleware, now it is a seperate module named think-ip-filter middleware.</p>
                  <p>Add prerender hook.</p>
                  <p>thinkjs add plugin creation command into CLI.</p>
                  <p>Fix when environemnt setting is producition or testing, the command can not end itself.</p>
                  <p>Add view_filter hook.</p>
                  <p>Fix file Session sometimes reports error.</p>
                  <p>Note：fix small issues are found during publishment of 2.0.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>2.0.0</strong>2015.10.30</span>
                  <p>Can use full features of ES6/7 to develop.</p>
                  <p>Support different project structure and environment.</p>
                  <p>Support rich database like Mysql, MongoDB, SQLite.</p>
                  <p>Code auto reload without restarting Node service.</p>
                  <p>Support multiple WebSocket library, like socket.io and sockjs.</p>
                  <p>Support multiple Session types, like Memory, like File, Db, Redis etc.</p>
                  <p>Support multiple Cache, like MemoryFile, Redis, Memcache etc.</p>
                  <p>Support multiple template engine, like ejs, jade, swig, numjucks etc.</p>
                  <p>Support Aspect Oriented Programming, support methods like __before, __after etc.</p>
                  <p>Support error page customization, like 400, 404, 500, 503 etc.</p>
                  <p>CLI support invoking action and timer task.</p>
                  <p>Rich Hook and Middleware.</p>
                  <p>Support detailed logging of all kinds, like request, error and performance logging.</p>
                  <p>REST API auto-generated.</p>
                  <p>Support internationalization and theming.</p>
                  <p>Comprehensive test cases 1500+, with code coverage > 95%.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.10</strong>2015.09.17</span>
                  <p>Fix if Memcache content contains end, content will be cut off.</p>
                  <p>Fix use alias in countSelect will report a SQL error.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.9</strong>2015.07.30</span>
                  <p>Fix URL backslash in Windows can't be parse.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.8</strong>2015.07.29</span>
                  <p>Fix security issue of accessing static resource.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.7</strong>2015.07.15</span>
                  <p>Fix Memcache can not use remote host.</p>
                  <p>Fix Memcache complains to some method parameters.</p>
                  <p>Change DbSession key to cookie, to prevent error from creating data reports.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.6</strong>2015.07.07</span>
                  <p>Add custom config in jade template.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.5</strong>2015.06.24</span>
                  <p>Fix WebSocket change number to string.</p>
                  <p>Fix post field equals null produces error.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.4</strong>2015.05.29</span>
                  <p>Remove the Controller name constrain must start with upper case followed with lower case<a href="https://github.com/75team/thinkjs/issues/166">#166</a>.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.3</strong>2015.05.18</span>
                  <p>Fix redis timeout setting no effect. thx @snadn.</p>
                  <p>Fix in debug mode, App.sendError produces error. thx @Zongmin lei.</p>
                  <p>Fix OR mapping error if advanace model table field contains underline.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.2</strong>2015.04.29</span>
                  <p>Fix issue of importing MongoDb starts with lowercase, thx @denvey.</p>
                  <p>websocket add timeout setting, default to 0 (never stop).</p>
                  <p>Fix maliciously upload file causes Temp folder contains files.</p>
                  <p>Note: skip npm version of 1.2.1 becuase it is no stable.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.0</strong>2015.04.21</span>
                  <p>Fix file upload not support multpile.</p>
                  <p>Add support of custom error handling, thx @Rayi.</p>
                  <p>Fix fetching client IP contains ::.</p>
                  <p>Add redis session, thx @snadn.</p>
                  <p>Add support of jSmart template, thx @snadn.</p>
                  <p>Fix error in MongoDB OverwriteModelError, thx @denvey.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.10</strong>2015.04.14</span>
                  <p>Fix UT reports errors in Node version >=0.12.</p>
                  <p>Support group and subquery in Model countSelect method.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.9</strong>2015.03.25</span>
                  <p>Fix Model config default to {}, thx @Rayi.</p>
                  <p>Fix <code>/resource/css</code> error.</p>
                  <p>Upgrade dependency <code>websocket-driver</code> version to 0.5.3.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.8</strong>2015.03.13</span>
                  <p>Fix file naming issue.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.7</strong>2015.03.13</span>
                  <p>Forbid ip request to fetch IP list from database.</p>
                  <p>Add timeout mechanism in CLI to avoid unstoppable tasks.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.6</strong>2015.01.19</span>
                  <p>Add auto-delete upload file feature, the config name is <code>post_file_autoremove</code> which defaults to open, you need to move it to other folder if you want to apply this.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.5</strong>2015.01.12</span>
                  <p>Sanitize GET/POST by applying a filter array named <code>C('filter_data')</code>, default to enabled. (Note: strongly suggested to trun on this security feature).</p>
                  <p>Auto validate the <code>addAll</code> method in Model.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.4</strong>2015.01.07</span>
                  <p>Change npm version 1.1.2 to 1.1.4.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.2</strong>2015.01.06</span>
                  <p>Fix _404Action can not complete normally if request is not the first time.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.1</strong>2014.12.24</span>
                  <p>Security improvement, to only get the first object if params is array, to avoid developer's improper operation produce security leak.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.1.0</strong>2014.11.20</span>
                  <p>Move gloabal implemenation to <code>thinkjs-util</code> module.</p>
                  <p>Add RMDB data auto-validation support, <a href="/doc/model.html#自动校验">document</a>.</p>
                  <p>Add basic support of MongoDB, <a href="/doc/model_mongo.html">document</a>.</p>
                  <p>Support pass ip port when starting service.</p>
                  <p>Add error handling for Controller download method, thx <a href="https://github.com/75team/thinkjs/commit/2b3f01f22a8d2dd7d319e3b3ad8dbac763576a0c">@snadn</a>.</p>
                  <p>In debug mode, change the clear cache interval from 100ms to 500ms.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.7</strong>2014.11.10</span>
                  <p>Fix in CLI can't close database connection.</p>
                  <p>Fix database rename does not take effect.</p>
                  <p>Add support for swig template.</p>
                  <p>Optimize getCallController performance.</p>
                  <p>Can pass controller object to template.</p>
                  <p>Can pass promise to template, see <a href="http://www.welefen.com/thinkjs-support-assign-promise-to-view.html">how to</a>.</p>
                  <p>success method support define customize message.</p>
                  <p>Fix can not fetch database query cache by S function.</p>
                  <p>where condition add ignore value feature.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.6</strong>2014.11.03</span>
                  <p>Optimize the process to fix static resource access leak.</p>
                  <p>Fix error D/M method not passing arguments.</p>
                  <p>Fix if upload file to a non-existing folder produces error.</p>
                  <p>System error now can map to different status code.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.5</strong>2014.10.29</span>
                  <p>Fix bug, in windows, access static resource bug can not access bug fix.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.4</strong>2014.10.29</span>
                  <p>Fix static resource accessing bug, see details <a href="http://www.w3ctech.com/topic/599">here</a>.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.3</strong>2014.10.27</span>
                  <p>Change the params order of Class method, put formal parameter before superClass.</p>
                  <p>Fix _call a non-existing Controller action with params produces error.</p>
                  <p>Fix undefined in Model where condition will be filtered out.</p>
                  <p>Add host binding support on starting service.</p>
                  <p>Static resource regex add support for robot.txt.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.2</strong>2014.10.20</span>
                  <p>Change page encoding from UTF8 to UTF-8 for IE.</p>
                  <p>Fix if Model contains alias produces error on show columns.</p>
                  <p>Add support for Model join on with table prefix.</p>
                  <p>Add support for Model join SELECT with table prefix.</p>
                  <p>Fix _404Action error.</p>
                  <p>Add file upload path config post_file_upload_path, default to App/Runtime/Temp.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.1</strong>2014.10.09</span>
                  <p>Remove Array.prototype.sum extension.</p>
                  <p>Fix Model query use lower case select produces error.</p>
                  <p>Fix bug in FileSession rm method.</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.0</strong>2014.09.22</span>
                  <p>ThinkJS release version 1.0, check <a href="http://www.w3ctech.com/topic/265">here</a>.</p>
                </div>
              </li>
            </ul>
        </div>
        <div class="ploy">
          <h4>ThinkJS versoning strategy：</h4>
            <p>Small release in 1~2 weeks, e.g. 1.0.1 => 1.0.2 (small features and bug fixes).</p>
            <p>Feature release in 1~3 months, e.g. 1.0.0 => 1.1.0 (big features and small refactory).</p>
            <p>Major release in 1~2 years, e.g. 1.0.0 => 2.0.0 (framework re-design and refactory).</p>
            <p>Small adjustment may apply according to special situation.</p>
        </div>
    </div>
</div>

<%include inc/footer.html %>